@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #ff0000;
    --secondary-color: #50e3c2;
    --background-color: #f5f7fa;
    --text-color: #333;
}

/* Global styles */
* {
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    box-sizing: border-box;
}

/* Container */
.container {
    width: 100%;
    max-width: 95%;
    margin: 0;
}

/* Headings */
.h1 {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.25rem;
}

.h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
}

.h3 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.h4 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.h5 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.h6 {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
}

/* Button UI */
.buttonUI {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.buttonUI:hover {
    background-color: white;
    color: black;
    border-color: #edff25;
}
